*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#hero{

    width: 100%;
    height: 100vh;
    background: url("../img/bg1.jpg") no-repeat center;
    background-size: cover;
}

.navbar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.navbar h1{

    color: #fff;
    font-size: 23px;
    font-weight: 500;
    margin: 20px 0;
    cursor: pointer;
}

.navbar button{

    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
   
    background: linear-gradient(to right, #ffffff 50%, transparent 50%);
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: 0.4s;

    
}


.navbar button:hover{

    color: #000;
    background-position: 0% 50%;
    transition: all 0.4s ease;
}

.container{

    width: 50%;
    height: 100vh;
    background: rgba(26, 25, 25, 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}

.info{

    width: 500px;
    position: absolute;
    top: 50%;
    right: 0;
    left: 10%;
    transform: translateY(-50%);
    color: #fff;
    font-weight: normal;
}

.info h2{

    font-size: 60px;
    letter-spacing: 10px;
}

.info p{

    color: #f0eef1;
    font-size: 11px;
    margin: 20px 0;
    line-height: 18px;
}

.info input{

    width: 50%;
    padding: 8px 10px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
}

::placeholder{

    color: #fff;
}

.slider{

    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 50px;
}

.slider #prev,#next{

    width: 20px;
    cursor: pointer;
}

.preview{
    display: flex;
    align-items: center;
    margin: 0 60px;
}

.preview img{

    width: 60px;
    opacity: 0.5;
    margin: 0 10px;

}

.preview .active{

    display: block;
    width: 100px;
    border: 2px solid #fff;
    opacity: 1;
}